{% extends 'base.html' %}
{% block content %}


<div tabindex="-1" id="search_container">
    {% for starship in starships %}
    <div id="search_item">
        <a href="{% url 'form' starship.id %}"><img id="search_image" tabindex="-1" alt="Solid color craft image."  src={{starship.black}} 
            onmouseover="this.src='{{starship.color}}'" onmouseout="this.src='{{starship.black}}'"></a>
    </div>
    {% endfor %}
</div>


<a href="javascript:history.back()">Go Back</a>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.carousel');
        var instances = M.Carousel.init(elems, {
            numVisible: 2,
        });
    });
</script>

{% endblock %}